@model Post

<div style="padding: 20px; background-color: rgb(120, 180, 240);
               border-radius: 25px; box-shadow: 0 0 15px rgb(100, 170, 200);
               color: white;"
     class="mb-3">
    <p class="mb-3">
        Autor: @Model.Author
    </p>
    <p class="mb-3">
        Data publikacji: @Model.PublicationDate
    </p>
    <p class="mb-3">
        Treść posta: @Model.Content
    </p>
    <p>
        Tagi: @Model.Tags
    </p>

    <p>Liczba komentarzy: @Model.Comments.Count</p>

    <form class="mb-3" asp-controller="Post" asp-action="Details" method="post">
        <input type="hidden" name="postId" value="@Model.Id"/>
        <label class="mb-3">
            Dodaj komentarz
        </label>
        
        <label for="author" class="mb-3">Autor</label>
        <input class="form-control mb-3" id="author" name="author"/>
        <span class="text-danger"></span>
        
        <label for="comment" class="mb-3">Komentarz</label>
        <input class="form-control mb-3" id="comment" name="comment"/>
        <span class="text-danger"></span>
        
        <button type="submit" class="btn btn-secondary rounded">
            Potwierdź
        </button>
    </form>
    
    <p class="mb-3">Komentarze:</p>
    @foreach (var item in Model.Comments)
    {
        <p class="mb-2">Autor: @item.Author</p>
        <p class="mb-2">Treść: @item.Content</p>
        <p class="mb-4">Data publikacji: @item.PublicationDate</p>
    }
</div>

<a class="mt-4 btn btn-secondary" asp-action="Index">Powrót</a>